# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# virtualenv
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
sftp-config.json

# build and dist
build/
dist/
*.egg-info/
*.egg

# OS files
.DS_Store
